# Dependencias
node_modules/
frontend/node_modules/

firebase_credentials.json
backend/firebase_credentials.json
backend/services/firebase/firebase_credentials.json


# Build de Next.js
.next/
frontend/.next/
out/

# Archivos de logs
*.log

# Entornos
.env
.env.local

# Virtual env de Python
venv/
backend/venv/
